body {
    background-color: #7F8C8D;
    text-align: center;
}
.container {
    max-width: 600px;
    margin: auto;
}

.header {
    background-color: #2DCB70;
    height: 250px
}

.header > h1 {
    color: white;
}

.nav {
    background-color: #34495E;
    height: 40px;
    margin-top: -20px;
}
.nav li {
    list-style-type: none;
    float: left;
    text-align-last: right;
    padding-right: 25px;
}
.nav a {
    text-decoration: none;
    color: white;

}