body {
    background-color: #7F8C8D;
}

p {
    font-size: .77em;
    padding: 0 30px;

}

img {
    width: 100%;
}

.container {
    max-width: 600px;
    margin: auto;
    background-color: #ECF0F1;
}

.header {
    background-color: #2DCB70;
    height: 250px;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 30px;
}

.header > h1 {
    color: white;
    margin-bottom: 22px;
    padding-left: 8px;
}

.header-bottom {
    height: 5px;
    background-color: #27B462;
}

.nav {
    background-color: #34495E;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}
.nav li {
    list-style-type: none;
    float: right;
    padding-right: 20px;
    font-size: .8em;
}
.nav a {
    text-decoration: none;
    color: white;
}

.nav-bottom {
    background-color: #2F4256;
    height: 5px;
}

.aside {
    width: 200px;
    float: right;
    margin-right: -235px;
    background-color: #ECF0F1;
    padding: 10px 10px;
    border-bottom: 3px #2F4256 solid;
}

.aside h3 {
    font-weight: bold;
    font-size: .88em;
}

.aside p {
    padding-left: 10px;
    color: grey;
    font-weight: bold;
}

article {
    padding: 18px;
}
article h2 {
    font-size: 1em;
}

article span {
    color: orangered;
}

section {
    padding: 0 18px;
}

section h3 {
    font-size: .85em;
    padding-left: 10px;
}

table, tr, th, thead, td {
    border:2px solid darkgrey;
    padding: 8px;
    font-size: .9em;
}

thead {
    background-color: lightgrey;
    text-align: left;
    font-weight: bold;
}

.btn {
    background-color: cornflowerblue;
    width: 75px;
    color: white;
    border: none;
    padding: 8px;
}

.code {
    font-family: COURIER;
    color: #444;
    background-color: darkgrey;
    height: 130px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    font-size: .77em;
}